<div class="lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="header__img" src="{{ url_for('static', filename='img/blog_5240815.png') }}" alt="blog">
        </a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-left">
          <a href="{{ url_for('user.login') }}" class="btn btn-outline-light me-2">Войти</a>
          <a href="{{ url_for('user.register') }}" class="btn btn-warning">Регистрация</a>
      </div>
    </div>
</div>