{% extends 'main/base_auth.html' %}

{% block title %}Мои посты{% endblock %}

{% block content %}
{% for post in posts %}
<div class="post_preview border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="row g-0 overflow-hidden text">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post.theme }}</strong>
      <h3 class="mb-0  word-wrap">{{ post.title }}</h3>
      <div class="mb-1 text-body-secondary">{{ post.date }}</div>
      <p class="card-text mb-auto">{{ post.tag }}</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
        Начать чтение
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}